body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "lato";
}

.main-container {
  width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

input {
  padding-left: 22px;
  color: rgba(0, 0, 0, 0.25);
  font-size: 18px;
}

.search-bar-main {
  width: 1240px;
  height: 69px;
  background-color: #E7E7E7;
  border: none;
  border-radius: 5px;
  opacity: 1;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

header .brand-name {
  margin: 0 auto;
  margin-bottom: 17px;
  color: #D04F4F;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 42px auto 0;
}

.logo img {
  width: 50px;
  height: 48px;
}

.search-by-ingredient {
  position: relative;
  background-color: #3282F7;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  margin: 15px 40px 0 0;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-by-ingredient .ingredient-list-div {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 655px;
  background-color: red;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 667px;
  margin: 0;
}

.search-by-ingredient .ingredient-list {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 40px;
  margin-left: 0;
}

.search-by-ingredient .advanced-input-search-ingredient {
  width: 100%;
  height: 100%;
  background-color: #3282F7;
  color: white;
  border: none;
  border-radius: 5px;
}

.search-by-ingredient input {
  color: white;
}

.search-by-ingredient ::-webkit-input-placeholder {
  color: white;
}

.search-by-ingredient :-ms-input-placeholder {
  color: white;
}

.search-by-ingredient ::-ms-input-placeholder {
  color: white;
}

.search-by-ingredient ::placeholder {
  color: white;
}

.search-by-ingredient .searchin-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-by-ingredient .ingredient {
  margin: 0 0 0 20px;
  position: absolute;
  margin: 0 20px 0 0;
  right: 47px;
  top: 25px;
}

.search-by-ingredient img {
  position: absolute;
  margin: 0 20px 0 0;
  right: 0;
  top: 30px;
}

.search-by-ingredient p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-by-appareil {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #68D9A4;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  margin: 15px 20px 0 0;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-by-appareil .advanced-input-search-appareils {
  width: 100%;
  height: 100%;
  background-color: #68d9a4;
  color: white;
  border: none;
  border-radius: 5px;
}

.search-by-appareil input {
  color: white;
}

.search-by-appareil ::-webkit-input-placeholder {
  color: white;
}

.search-by-appareil :-ms-input-placeholder {
  color: white;
}

.search-by-appareil ::-ms-input-placeholder {
  color: white;
}

.search-by-appareil ::placeholder {
  color: white;
}

.search-by-appareil .ingredient {
  margin: 0 0 0 20px;
}

.search-by-appareil img {
  position: absolute;
  right: 17px;
}

.search-by-ustensil {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ED6454;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  margin: 15px 20px 0 0;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-by-ustensil .advanced-input-search-ustensils {
  width: 100%;
  height: 100%;
  background-color: #ed6454;
  color: white;
  border: none;
  border-radius: 5px;
}

.search-by-ustensil input {
  color: white;
}

.search-by-ustensil ::-webkit-input-placeholder {
  color: white;
}

.search-by-ustensil :-ms-input-placeholder {
  color: white;
}

.search-by-ustensil ::-ms-input-placeholder {
  color: white;
}

.search-by-ustensil ::placeholder {
  color: white;
}

.search-by-ustensil .ingredient {
  margin: 0 20px;
}

.search-by-ustensil img {
  position: absolute;
  right: 17px;
}

.search-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  font-family: "lato";
}

.tag-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 107px;
  height: 37px;
  background-color: #3282F7;
  border-radius: 5px;
  margin-top: 35px;
}

.tag-add p {
  font-family: "lato";
  margin: 0 0 0 20px;
  color: white;
  font-size: 14px;
}

.tag-add img {
  margin: 0px 22px 0 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1344px;
  height: 100%;
  margin: 0px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recette {
  width: 380px;
  height: 368px;
  background-color: #E7E7E7;
  margin: 30px;
}

.recette .recette-img {
  width: 100%;
  background-color: #C7BEBE;
  height: 178px;
}

.recette .recette-description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 186px 186px;
      grid-template-columns: 186px 186px;
  -ms-grid-rows: 89px 118px;
      grid-template-rows: 89px 118px;
  margin: 0 20px;
}

.recette .recette-description .recette-title {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  overflow: hidden;
  margin: 30px 0 0 0;
}

.recette .recette-description .ingredient-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 10px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 1;
  font-size: 12px;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

.recette .recette-description .ingredient-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
}

.recette .recette-description .ingredient-list .quantity {
  margin: 0 0 0 4px;
  font-weight: 400;
}

.recette .recette-description .process {
  font-size: 12px;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 2;
  margin: 0 0 26px 0;
  padding-right: 25px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}

.recette .recette-description .time-to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  font-size: 18px;
  font-weight: bold;
  margin: 34px 75px;
}

.recette .recette-description .time-to img {
  margin-right: 5px;
}

.recette .recette-description .timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  font-size: 18px;
  font-weight: bold;
  margin: 36px 46px;
}
/*# sourceMappingURL=style.css.map */